// Place all the styles related to the admins::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mypage h2{
	background-color: gray;
	width: 500px;
	margin-left: 30px;
}
.list{
	margin: 30px;
}
