<h1>CartItems#index</h1>
<p>Find me in app/views/cart_items/index.html.erb</p>
<table>
	<thead>
		<tr>
			<td>商品名</td>
			<td>単価（税込）</td>
			<td>数量</td>
			<td>小計</td>
			<td></td>
		</tr>
	</thead>
</table>