<div class="row about-container">
  <div style="text-align: center">
    <h1>長野県にある小さな洋菓子店「ながのCAKE」</h1>
    <div class="about-content">
      <div class="about-text">
        <div class="background">
          <p>ながのCakeは全国発送可能なケーキ屋です。</p>
          <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
          <p>様々なバリエーションをご用意しております。</p>
          <p>また、全国への発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
          <p>ぜひご注文ください。</p>
        </div>
      </div>
    </div>
  </div>
</div>