
<div class="row">
	<div class="col-xs-2">
		<h3>ジャンル検索</h3>
		<%=render 'admins/genres/genre_search', genres: @genres %>

		<p>ようこそ、NaganoCakeへ！</p>
		<p>このサイトは、ケーキの販売のECサイトになります。</p>
		<p>会員でない方も商品の閲覧はできますが、</p>
		<p>購入には会員登録が必要になります。</p>

		<strong>オススメ商品</strong>

	</div>
</div>


