<%=render 'genres/genre_serch' %>
<p>ようこそ、NaganoCakeへ！</p>
<p>このサイトは、ケーキの販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>

<strong>オススメ商品</strong>

<ul></ul>
<%= link_to もっと見る＞ %>