// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all_empty{
	margin-left: 90%;
}
.into_order{
	margin-left: 50%;
}
.sum{
	margin-left: 90%;
}
p{
	background-color: gray;
}
.sum{
	
}